# Dependency directories
node_modules/
.next/

# Environment files
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
out/
build/

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Package-lock files
package-lock.json
yarn.lock

